h1, h2, p {
  font-family: 'Enriqueta', serif;
}
  hr.style-four {
    height: 12px;
    width: 100%;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    clear: both;
}

/* add media queries and make sure everything is responsive */
/* add margin to container to contain the content and align */

.logo {
  padding-right: 20px;
  float: left;
}
/* name and dev- when it reaches a certain amount of pixels, add a media query to shrink the font size*/
.box {
  /* padding-left: 30%; */
  float: right;
}
/* image to be aligned with other content */
.hero-image {
  padding-top: 20px;
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 500px;
  text-align: center;
  margin: 0 auto;
}

/* when website spreads out, pics line horizontally */
.pixel {
  width: 100%;
}
.photo {
  width: 100%;
}
.cat {
  width: 100%;
}

/* Flex-box */
.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

.work {
  text-align: center;
}

/* responsive design */

@media only screen and (min-width: 300px) {
.pixel {
  width: 100%;
}
.photo {
  width: 100%;
}
.cat {
  width: 100%;
}
.hero-image{
  width: 100%;
}
}
/*
make pics spread out and add margin */

@media only screen and (min-width: 550px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
  }
  .pixel, .photo, .cat {
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .container{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}
